<div class="photo-main"></div>

<div class="container">
  <h1>
    <span>Reporting animal cruelty</span>
  </h1>
  <h3 class="align-center">
    LET US KNOW QUICKLY AND DIRECTLY
    <br>
    <sub>is the key message.</sub>
  </h3>
  <p>
    The Roodepoort SPCA has an around-the-clock emergency service where cruelty to animals and emergencies involving stray animals may be reported:
  </p>
  <h3 class="align-center">
    <a href="tel:{{phoneEmergency}}">{{phoneEmergency}}</a>
  </h3>
  <p>
    Everyone can play a significant role in preventing cruelty to animals, enabling us to assist animals in danger or already being cruelly treated and to help us bring animal abusers to justice.
  </p>
  <p>
    Remember that our Inspectors have the rights and powers of a police officer in terms of the Animals Protection Act. You don’t. So please don’t place yourself in danger or compromise the fate of an animal
    by delaying or being afraid to report a matter.
  </p>
  <p>
    <strong>
      Keep our number {{phoneGeneral}} with you at all times. After hours and in cases of dire emergencies, please use {{phoneEmergency}}.
    </strong>
  </p>
  <p>
    By law, the Roodepoort SPCA has an around-the-clock emergency service. Please note that this relates to animal cruelty and emergency situations that require immediate action.
  </p>
  <h1>
    <span>What to do at the time</span>
  </h1>
  <p>
    Situations differ but in general terms, we ask that if the animal can be assisted immediately without risk to the yourself, then step in and help. The matter can be reported later.
  </p>
  <p>
    Of course, the kind of person who would mistreat an animal is likely to vent anger on an individual who “interfered” so discretion must be used. Do not put yourself at risk and this includes instances
    of puppies are being sold at the side of a road. Confronting the seller has led to instances of attacks and one victim having to be hospitalised. There are proven instances of this being a ploy to
    stage a hi-jacking.
  </p>
  <p>
    Above all, do not take the law into your own hands.
  </p>

  <h1>
    <span>Always report</span>
  </h1>
  <p>
    Never be afraid to contact us if you have concerns. We would rather have a matter reported to us several times over than people assuming a matter has already been reported (when it hasn’t) and an animal
    is left to suffer.
  </p>
  <p>
    <strong>Contact the Roodepoort SPCA as quickly as possible by telephone.</strong> Even if we are not the closest or appropriate SPCA, we are in a position to forward the information quickly and to offer additional
    assistance if needed.
  </p>
  <p>
    Give as much detail as you can including your estimation of the level of urgency and the exact position or address if possible. Any visuals taken at the scene can be forwarded later. Please bear in mind
    that the need for emergency assistance includes animals involved in accidents or natural disaster situations.
  </p>
  <p>
    A detailed description of what has been witnessed or what is taking place is needed plus the exact location. The person taking your call may ask for your name and contact details. Members of the public
    are assured that this information will be kept strictly confidential. You are welcome to remain anonymous but giving your details enables us to give you feedback at a later stage.
  </p>
  <p>
    Please note however that in serious cases, criminal charges may be laid. A Court requires proof beyond reasonable doubt and this is a situation when an informant/witness is vitally important and will need
    to have the courage of his or her conviction in providing a sworn affidavit but also being prepared to testify in Court to bring the offender/s to justice.
  </p>
  <p>
    Cases are won and lost on evidence. Far too many matters are reported, action taken and then the case is lost because a key witness or maybe the only witness “does not want to get involved.” The public
    are far more than our eyes and ears. If a person is sufficiently outraged to call us to report a matter of concern, we ask that your commitment extends to enable us to complete the process and prosecute
    successfully.
  </p>
  <h1>
    <span>Animals in vehicles</span>
  </h1>
  <p>
    Concerns are appreciated but again it comes back to asking the public to report the matter to us quickly by phone. Even if we do not have an Inspector or vehicle in the area, we are able to network to
    enable the animal to be assisted. Members of the public who step in and, for example, break a window, may be charged with damage to property.
  </p>
  <p>
    If a window has to be broken to rescue the animal, this is best left to the authorities who can usually be summoned quickly.
  </p>
  <p>
    As a witness/informant, we ask that once the matter has been reported, visuals can be taken of the situation and, of course, of the vehicle registration. The Roodepoort SPCA will be thankful for these
    details to enable the matter to be followed up.
  </p>

  <h1>
    <span>We beg you...</span>
  </h1>
  <p>
    Not to report cases of animal abuse/cruelty/neglect through web sites or via Facebook or e- mail. Reports may not be picked up. Time is inevitably lost reaching the animals even if the webmaster is sufficiently
    alert and caring as to forward the report.
  </p>
  <p>
    “Crimeline” systems work by reporting matters to the SAPS and attract informants due to their undertaking of anonymity. But in the case of suffering animals, anonymity is already guaranteed and working
    through third parties simply extends the length of time before the matter can be addressed. Not all web sites are read or administered with the regularity that people may think.
  </p>
  <p>
    The Roodepoort SPCA has an around-the-clock emergency service.
    <strong>Please tell us quickly and directly by phone.</strong>
  </p>

  <h1>
    <span>Why reporting animal cruelty matters</span>
  </h1>
  <p>
    You are probably reading this because you care about animals. Yet there are additional reasons why cruelty to animals matters, needs to be taken extremely seriously and has severe implications for us all.
  </p>
  <p>
    Did you know that animal abuse is often a predictor of other violent crimes? International research in psychology and criminology has proven that acts of cruelty to animals indicate personality flaws and
    mental disturbance in the abuser.
  </p>
  <p>
    It is hardly surprising then that animal abuse is strongly linked to other control crimes which include murder, rape, assault and domestic violence. Equally unsurprising is that the abuse of animals frequently
    escalates into other crimes.
  </p>
  <p>
    According to the National Council of SPCA’s Guide to Animal Protection for the South African Police Services, 100% of convicted sexual homicide perpetrators were involved in acts of animal abuse first
    and people who neglect or abuse animals frequently subject their own children or families to similar hardships.
  </p>
  <p>
    More than half of reported and convicted battery of women cases reported that their abuser threatened or injured their companion’s animals.
  </p>
  <p>
    Cruelty to an animal or animals is rarely a “stand-alone” crime. It is well known that dog fighting involves syndication and illegal gambling. Organised criminal networks are involved in the theft of animals
    as well as poaching and the smuggling of animal parts.
  </p>
  <p>
    <strong>
      Do not be afraid to come forward to report matters of concern. Please report directly to {{phoneGeneral}}, not by email or through Facebook as these are not monitored around the clock. The Roodepoort SPCA
      responds to emergencies involving animals 24 hours a day, every day of the year.
    </strong>
  </p>
  <p>
    The identity of an informant will always be kept confidential but remember that if the matter proceeds to the Court, a witness needs to give evidence and if the informant is the only person able to do
    so, then the individual has to testify to bring the offender to justice.
  </p>

  <h1>
    <span>Inspectorate Feedback 2016-2017</span>
  </h1>
  <p>
    A Qualified Inspector with Magisterial authorisation has the powers of a Police Officer in terms of the Animals Protection Act. Their routine work includes inspections of abattoirs, hawking sites, breeding
    operations, pet shops, security companies using dogs, grooming parlours and stable yards – to name but a few.
  </p>
  <p>
    During the past financial year, there were 11 514 routine inspections in terms of the Animals Protection Act. These included matters relating to farm, exotic, wild animals plus equine as well as domestic/companion
    animals.
  </p>
  <p>
    The policy of the Roodepoort SPCA is to educate first and whenever possible, working with individuals and communities to improve the welfare and lives of all animals. When this is simply not possible,
    due to blatant cruelty or refusal to co-operate, we are unafraid to use the power of the Law and to initiate criminal charges against those involved.
  </p>
  <p>
    The Inspectorate of the Roodepoort SPCA undertook 1 873 investigations of cruelty to animals, resulting in 763 warnings in terms of the Animals Protection Act being issued and 18 cases opened in terms
    of the same Act. Charges in terms of the Animals Protection Act are State prosecutions. Two Court cases were won and resulted in criminal convictions for the accused. 14 such cases remain pending and
    3 were withdrawn by the State.
  </p>
</div>