@import './variables';
@import './mixins';
@import "node_modules/bootstrap/scss/bootstrap";
.navbar-brand .logo {
    max-height: 40pt;
}

h1 {
    margin: 15pt;
    padding-top: 5pt;
    display: block;
    font-size: 30pt;
    position: relative;
    text-align: center;
    z-index: 1;
    color: theme-color(primary);
    &:before {
        border-top: 3px solid theme-color(disabled);
        content: "";
        position: absolute;
        top: 23pt;
        left: 0;
        width: 100%;
        z-index: -100;
    }
    span {
        background: #ffffff;
        z-index: -50;
        padding-left: 7pt;
        padding-right: 7pt;
        
    }
}