<div class="photo-main"></div>

<div class="container">
  <h1>
    <span>
      Our contact details
    </span>
  </h1>
  <div class="row">
    <p>
      The Roodepoort SPCA has an around-the-clock emergency service where cruelty to animals and emergencies involving stray animals may be reported:
    </p>
  </div>
  <div class="row">
    <div class="col-md-6 align-center">
      <p>
        Our general phone number is
      </p>
      <a href="tel:{{phoneGeneral}}">
        <h3>
          {{phoneGeneral}}
        </h3>
      </a>
    </div>
    <div class="col-md-6 align-center">
      <p>
        For after hour emergencies
      </p>
      <a href="tel:{{phoneEmergency}}">
        <h3>
          {{phoneEmergency}}
        </h3>
      </a>
    </div>
  </div>
  <br>
  <br>
  <h2 class="align-center">
    Our operating hours
  </h2>
  <div class="row">
    <div class="col-12 align-center">
      <h4>Kennels open</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6 align-right">Mon to Fri</div>
    <div class="col-6">08h00 to 16h30</div>
  </div>
  <div class="row">
    <div class="col-6 align-right">Sat</div>
    <div class="col-6">08h00 to 13h00</div>
  </div>
  <div class="row">
    <div class="col-6 align-right">Sun</div>
    <div class="col-6">Closed</div>
  </div>
  <div class="row">
    <div class="col-12 align-center">
      <h4>Hospital open</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6 align-right">Mon to Fri</div>
    <div class="col-6">
      09h00 to 13h00
      <br> 14h00 to 16h00</div>
  </div>
  <div class="row">
    <div class="col-6 align-right">Sat</div>
    <div class="col-6">08h00 to 12h00</div>
  </div>
  <div class="row">
    <div class="col-6 align-right">Sun</div>
    <div class="col-6">Closed</div>
  </div>
  <br>
  <br>
  <h2 class="align-center">
    Our physical address
  </h2>
  <p class="align-center">
    3 Nadine St, Florida, Gauteng, South Africa, 1709
  </p>
  <div>
    <iframe src="https://www.google.com/maps/embed/v1/place?q=SPCA,Roodepoort
    &zoom=14
    &key=AIzaSyCOeXgLIYXcYZiSZK6iu2ZESCun9DB2s0A" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
  </div>
  <br>
  <br>
  <h2 class="align-center">
    Other contact details
  </h2>
  <p class="align-center">
    Postal Address:
    <br> P O Box 60
    <br> Florida
    <br> 1710
  </p>
  <p class="align-center">
    Fax: 011 672 2918
  </p>
</div>