@import '../app.component';

.photo-marquee
{
    padding: 0px;

    li {
        list-style-type: none;
        text-align: justify;
        
        padding: 20pt;
        
    }
}

.photo-main {
    @extend %photo-banner;
    background-image: url("/assets/photos/_ADD007.jpg"); 
}
