<div class="photo-main"></div>

<div class="container">
  <h1>
    <span>
      Our mission
    </span>
  </h1>
  <p>
    We are an autonomous, professional, charitable organisation for the prevention of cruelty to animals, engendering compassion towards animals through education in the Roodepoort and Krugersdorp areas under
    challenging circumstances: - requiring support from the community to continue and improve our services and operations.
  </p>
  <p>
    To explain our roles and operations further we need a little background to the structure of the SPCA movement generally:
  </p>
  <ul class="photo-marquee">
    <li>
      Individual SPCAs are not branches. Each SPCA is an individually registered Non Profit Organisation, also registered with the National Council of SPCAs. The Roodepoort SPCA is autonomous and responsible
      for the running the operations in our own area including our Inspectorate, rescue centre, hospital and general service to animals in our area plus the raising of funds.
    </li>
    <li>
      All SPCAs in South Africa are governed by the SPCA Act 169 of 1993 “The SPCA Act” which is administered by the NSPCA. Within this Act, there are statutory Rules which relate to governance as well as welfare
      standards and policies. The rules and operational guidelines pertaining to this Act were formulated with the input of the member SPCAs. Provided that the Roodepoort SPCA adheres to Act 169 of 1993
      as well as the national Statement of Policy of the SPCA movement, we may determine local policies in order to deal with the unique circumstances and requirements in our area of operation.
    </li>
    <li>
      People in our community may become members of the Roodepoort SPCA, application forms and current rates being available from our reception which can be reaced by visiting us or phoning. Members may attend,
      speak and vote at our Annual General Meeting, usually held in June or July, when the nominated individuals for election to the Management committee are put forward. Attendance is open to the general
      public but in terms of the Constitution, only members may vote. The Chairman’s Report, Minutes and audited financial statements are available upon request.
    </li>
    <li>
      Members of the Management Committee serve without payment. Their role is to guide the Roodepoort SPCA through sound management and financial planning and implementation of business principles to ensure
      continuity, accountability, ethical practices and dedication to the cause. In addition to members of the Management Committee having prescribed and conventional portfolios of Chairman, Treasurer
      etc, members may take on responsibility for overseeing specific portfolios such as fund raising.
    </li>
    <li>
      The Roodepoort SPCA has a General Manager who reports directly to the Management Committee. The Head of the Inspectorate and the Kennel Manager report to the General Manager.
    </li>
    <li>
      The Roodepoort SPCA is one of the few SPCAs with a registered animal hospital. Staff report to the Chief Veterinarian whose reporting line is directly to the Management Committee.
    </li>
  </ul>
  <h1>
    <span>
      From the chairman
    </span>
  </h1>
  <p>
    Reporting at the Annual General Meeting of the Roodepoort SPCA on Saturday 15 July, Chairman Angela Voyiatzakis took the opportunity to thank the local community for its continuing support. She added that
    the closure of the Krugersdorp SPCA had taken its toll and was partly responsible for the recorded loss in the audited financial statements of R200 733.
  </p>
  <p>
    A reduction in income from the Council as well as the general economic situation were also cited as contributing factors.
  </p>
  <p>
    Commending the dedication of the Roodepoort SPCA staff, the Chairman also thanked the management Committee who serve on a voluntary basis.
  </p>
</div>