<header>
  <div class="container">
    <div class="row">
      <div class="col">
        <a class="navbar-brand pl-2" routerLink="">
          <img class="img-fluid logo" src="assets/logo.gif" />
          <span>SPCA
            <b>Roodepoort</b> |
            <b>Krugersdorp</b>
          </span>
        </a>
      </div>
      <div class="col-auto">
        <div class="contact">
          <a href="tel:{{globals.phoneGeneral}}">
            <i class="fa fa-phone"></i>
            {{globals.phoneGeneral}}</a>
        </div>
        <div class="contact">
          <a href="https://www.facebook.com/SPCA-Roodepoort-Krugersdorp-424714620886372/" target="_blank">
            <i class="fa fa-facebook"></i> Facebook</a>
        </div>
        <div class="contact">
          <a routerLink="contact-us">
            <i class="fa fa-compass"></i> 3 Nadine St, Florida, Gauteng, South Africa, 1709</a>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <i class="fa fa-home"></i>
          <span class="sr-only">Home page</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="report-cruelty">
          Report Cruelty
          <span class="sr-only">Report Cruelty</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about-us">
          About us
          <span class="sr-only">About us</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact-us">
          Contact us
          <span class="sr-only">Contact us</span>
        </a>
      </li>
      <li class="nav-item nav-item-bright float-right">
        <a class="nav-link" routerLink="donate">
          Donate
          <span class="sr-only">Donate</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="router-content">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="row" [hidden]="!footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          Please phone us in case of an emergency, our email and Facebook accounts are not monitored all the time.
          <div class="contact">
            <a href="tel:{{globals.phoneGeneral}}">
              <i class="fa fa-phone"></i> {{globals.phoneGeneral}}</a>
          </div>
          <div class="contact">
            <a href="https://www.facebook.com/SPCA-Roodepoort-Krugersdorp-424714620886372/" target="_blank">
              <i class="fa fa-facebook"></i> Facebook</a>
          </div>
          <div class="contact">
            <a routerLink="contact-us">
              <i class="fa fa-compass"></i> 3 Nadine St, Florida, Gauteng, South Africa, 1709</a>
          </div>
          <div class="contact">
            <a href="#">
              <i class="fa fa-envelope"></i> P O Box 60, Florida, 1710</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-12 align-center">
              <h4>Kennels open</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-6 align-right">Mon to Fri</div>
            <div class="col-6">08h00 to 16h30</div>
          </div>
          <div class="row">
            <div class="col-6 align-right">Sat</div>
            <div class="col-6">08h00 to 13h00</div>
          </div>
          <div class="row">
            <div class="col-6 align-right">Sun</div>
            <div class="col-6">Closed</div>
          </div>

          <div class="row">
            <div class="col-12 align-center">
              <h4>Hospital open</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-6 align-right">Mon to Fri</div>
            <div class="col-6">
              09h00 to 13h00
              <br> 14h00 to 16h00</div>
          </div>
          <div class="row">
            <div class="col-6 align-right">Sat</div>
            <div class="col-6">08h00 to 12h00</div>
          </div>
          <div class="row">
            <div class="col-6 align-right">Sun</div>
            <div class="col-6">Closed</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row copyright">
    <div class="container">
      © Copyright 2018 - SPCA Roodepoort | Krugersdorp. All rights reserved. The SPCA logo is owned and trademarked by the NSPCA. The SPCA logo may not be reproduced, copied or used without the express written
      permission of the NSPCA.
    </div>
  </div>
</footer>