
@import '../sass/variables';
@import '../sass/mixins';
@import "node_modules/bootstrap/scss/bootstrap";

footer {
    background-color: #F5F5F5;
    margin-top: 10pt;
    padding-top: 10pt;
    border-top: solid 3px theme-color(primary);
    overflow: hidden;

    .copyright {
        margin-top: 10pt;
        padding-top: 10pt;
        padding-bottom: 10pt;            
        background-color: theme-color(primary);
        color: white;
        font-size: smaller;
    }
}

.contact {
    i.fa {
        width: 16px;
    }
}

html {
    overflow-y: scroll;    
    height: 100%;
}

%photo {    
    display: block;
    padding: 0px;
    background-repeat: no-repeat;    
    background-position: center;    
}

%photo-inline {    
    @extend %photo;
    height: 256px;
    background-size: contain;
}

%photo-banner {
    @extend %photo;    
    height: 60vh;
    background-size: cover;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.nav-item-bright {
    
}