@import '../app.component';

.photo-marquee
{
    padding: 0px;

    li {
        list-style-type: none;
        text-align: justify;
        
        padding: 20pt;
        
    }
}

.photo-main {
    @extend %photo-banner;
    background-image: url("/assets/photos/_ADD009.jpg"); 
}

.photo-001 {
    @extend %photo-inline;    
    background-image: url("/assets/photos/_DON001.jpg"); 
    padding: 10pt;
}

.photo-002 {
    @extend %photo-inline;    
    background-image: url("/assets/photos/_DON002.jpg"); 
}

.photo-003 {
    @extend %photo-inline;    
    background-image: url("/assets/photos/_DON003.jpg"); 
}

.myschool-logo {
    @extend %photo-inline;    
    background-image: url("/assets/myschool-logo.png"); 
    background-color: #F5F5F5;
    background-position: center;
    max-height: 100pt;
}

.snapscan-logo {
    @extend %photo-inline;    
    background-image: url("/assets/snapscan-logo.png"); 
    background-color: #3b77bc;
    background-position: center;
    max-height: 100pt;
}

.snapscan-content {
    text-align: center;
    min-height: 280px;
    padding-top: 10pt;
    img {
        height: 250px;
    }
}

%donate-help {
    padding: 5pt;
    text-align: center;
    a {
        color: #f4f4f4;
        text-decoration: underline;
    }    

}

.snapscan-help {
    @extend %donate-help;  
    background-color: #3b77bc;
    color: white;
    a {
        color: #f4f4f4;
    }    
}

.myschool-content {
    padding: 10pt;
    min-height: 280px;
}

.myschool-help {
    @extend %donate-help; 
    background-color: #F5F5F5;
    color: black;
    a {
        color: black;
    }     
}

.google-play {
    padding-top: 5pt;
    a {
        display:inline-block;
        overflow:hidden;
        background: url("/assets/google-play-badge.png") no-repeat;
        background-position: center;
        height: 60px;
        width: 100%;
        background-size:contain;
    }
}

.apple-store {
    padding-top: 5pt;
    a {        
        display:inline-block;
        overflow:hidden;
        background:url("/assets/apple-store-badge.png") no-repeat;
        background-position: center;        
        // width:135px;
        height: 60px;
        width: 100%;
        background-size:contain;
        
    }
}