<div class="photo-main"></div>

<div class="container">
  <h1>
    <span>
      Donate
    </span>
  </h1>
  <p>
    A gift promoting kindness, compassion and protection will enable us to help animals throughout the year and years ahead.
    Please consider one of the options below. Donations qualify for a Section 18A tax certificate! A reminder that the Roodepoort
    SPCA does not receive and never has received government funding. The income from the Municipality is payment for services
    rendered, not a grant.
  </p>
  <p>
    Any donation is welcome, no matter how big or small. Every cent raised goes towards supporting our cause and protecting the
    rights of animals in our community.
  </p>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h2>
        Donations
      </h2>
      <p>
        You can donate quickly and easily with SnapScan.
      </p>
      <div class="snapscan-logo">
      </div>
      <div class="snapscan-content">
        <a target="blank" href="https://pos.snapscan.io/qr/PXMP20377">
          <img alt="Click to donate with SnapScan" src="https://pos.snapscan.io/qr/PXMP20377.png?snap_code_size=500">
        </a>
      </div>
      <div class="snapscan-help">
        <div class="row">
          <div class="col-12">
            You can get the app from smart phone's app store here:
          </div>
        </div>
        <div class="row">
          <div class="col-6 apple-store">
            <a target="blank" href="https://itunes.apple.com/us/app/snapscan/id594791461?mt=8">
            </a>
          </div>
          <div class="col-6 google-play">
            <a target="blank" href='https://play.google.com/store/apps/details?id=com.fireid.snapscan&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="http://www.snapscan.co.za/" target="blank">Click here</a> for more information about SnapScan.
          </div>
        </div>
      </div>
      <br>
      <p>
        Simply scan the code below with the app on your phone, choose an amount, fill in a reference and tap pay!
      </p>
    </div>
    <div class="col-md-6">
      <h2>
        My School
      </h2>
      <p>
        &nbsp;
      </p>
      <div class="myschool-logo">
      </div>
      <div class="myschool-content">
        <p>
          We remind everyone that there is no cost EVER to holder of a MySchool MyVillage MyPlanet card. The Roodepoort SPCA confirms
          that we receive valued income every month and with your help, we can surely boost this. It is now easier than ever
          to get your own card by using the app and applying for a virtual card which is issued immediately. Simply associate
          your card with the Roodepoort SPCA and use it wherever the card is accepted.
        </p>
        <p>
          You can also apply for a physical card here:
          <a target="blank" href="https://www.myschool.co.za/supporter/apply/">https://www.myschool.co.za/supporter/apply/</a>
        </p>
      </div>
      <div class="myschool-help">
        <div class="row">
          <div class="col-12">
            Don't have a card? Get a free virtual one by downloading the app.
          </div>
        </div>
        <div class="row">
          <div class="col-6 apple-store">
            <a target="blank" href="https://itunes.apple.com/za/app/myschool-myvillage-myplanet/id1279771654?mt=8">
            </a>
          </div>
          <div class="col-6 google-play">
            <a target="blank" href='https://play.google.com/store/apps/details?id=za.co.myschool.supporterapp&hl=en'>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a target="blank" href="https://www.myschool.co.za/">Click here</a> for more information about MySchool MyVillage
            MyPlanet.
          </div>
        </div>
      </div>
      <br/>
      <p>
        All Woolworths Store cards and Rewards Cards are supported without the need for an additional card. You can use your Woolworths
        or MySchool card at any of the participating retailers. Up to 5% of what was spent is donated to the nominated beneficiary
        on your behalf.
      </p>
    </div>

    <!--
      <div class="col-md-6">
        <h2>
          SnapScan
        </h2>
        <p>
          With the help of SnapScan, donations to our cause can be made easily and quickly. Please scan the QR code below with the SnapScan app to donate or follow the link to donate.        
        </p>
        <p>
          <a href="https://pos.snapscan.io/qr/PXMP20377">https://pos.snapscan.io/qr/PXMP20377</a>
        </p>
      </div>
    -->

  </div>
  <div class="row">
    <hr/>
    <div class="col-12">
      <h1>
        <span>
          Direct deposits
        </span>
      </h1>
      <p>
        You can also deposit into our bank account directly. <br> Our banking details are: -
      </p>
      <dl>
        <dt>Bank:</dt>
        <dd>Standard Bank</dd>
        <dt>Account Holder:</dt>
        <dd>SPCA Roodepoort</dd>
        <dt>Branch:</dt>
        <dd>Florida</dd>
        <dt>Branch Code:</dt>
        <dd>015641</dd>
        <dt>Account Number:</dt>
        <dd>021145571</dd>
      </dl>
      <p>
        Please don’t forget to advise us of EFT deposits (<a href="mailto:admin@rdptspca.co.za">admin@rdptspca.co.za</a>
        or fax 011-672-2918) so we can reconcile the income and send a message of thanks.
      </p>
    </div>
    <hr/>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>
        <span>
          Kennel sponsorship
        </span>
      </h1>
      <p>
        Kennel sponsorship for a dog or cat is an option. Please contact Mandy or Jos on 011-672-0448 for full details. The cost
        is R500.00 per month. Again, this carries tax benefits. Why not visit our kennels and see for yourself how it works
        for the benefit of animals in our care? Enquiries from local businesses are welcomed. It would be wonderful to be
        able to say that every kennel was sponsored thanks to community support.
      </p>
      <div class="photo-003">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>
        <span>
          Any items that can help
        </span>
      </h1>
      <p>
        We are always grateful for blankets, towels, collars, leads and bowls. Our thrift shop and book store generate valued income
        so please think of us when you have unwanted or unused items. The Roodepoort SPCA will gladly accept anything for
        resale.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="photo-001">
      </div>
    </div>
    <div class="col-6">
      <div class="photo-002">
      </div>
    </div>
  </div>
</div>