@import '../app.component';

.photo-main {
    @extend %photo-banner;
    background-image: url("/assets/photos/_ADD006.jpg"); 
}

.photo-001 {
    @extend %photo-inline;    
    background-image: url("/assets/photos/_ADD001.jpg"); 
}

.photo-002 {
    @extend %photo-inline;    
    background-image: url("/assets/photos/_ADD003.jpg"); 
}

.photo-003 {
    @extend %photo-inline;    
    background-image: url("/assets/photos/_ADD002.jpg"); 
}

.photo-004 {
    @extend %photo-inline;    
    background-image: url("/assets/photos/_ADD005.jpg"); 
}