<div class="photo-main"></div>

<div class="container">
  <h1>
    <span>The Roodepoort SPCA</span>
  </h1>
  <p>
    The Roodepoort SPCA is one of the oldest in South Africa, having been founded in 1945 and operational from then. We are still based on the original property, which we own, although many refurbishments,
    developments and expansions have taken place.
  </p>
  <p>
    We have a proud record of assisting animals by speaking out, taking preventive, corrective and, when necessary, legal action in our local community for over 70 years. Education and community upliftment
    are essential and ongoing elements of our work. The commitment of the Roodepoort SPCA is to preventing cruelty to all animals, improving their quality of life and to providing knowledge and practical
    assistance on animal care and welfare.
  </p>
  <p>
    On a daily basis the SPCA Roodepoort reaches out to our underprivileged areas to provide much needed assistance including veterinary services. Staff visit informal settlements and with the cooperation
    and consent of the animals’ owners, bring animals to our SPCA to receive treatment. Many are diseased or injured. The animals may be vaccinated, sterilised and then transported back to their homes,
    healed and healthy. This is in terms of our mandate to prevent cruelty to animals.
  </p>
  <p>
    Our Inspectorate consists of dedicated and qualified staff whose duties involve far more than inspecting properties or responding to complaints of animal abuse, neglect or cruelty. Their pro-active work
    involves undertaking inspections of abattoirs, hawking sites, animal breeders, pet shops, security companies and any other facility or location where there may be animals.
  </p>
  <p>
    We have an on-site thrift shop and a book store, open as per the kennels opening times above. You are welcome to browse and bye as well as supporting us by donating items to these outlets to enable us
    to raise much needed funds for the in our care. We ask you to consider us when clearing out any of your unwanted goods. We’ll be most grateful for items such as clothing, linen, curtains, pillows,
    cutlery &amp; crockery, ornaments, appliances, toys, games, furniture, tools, sports &amp; gym equipment: - and any unwanted gifts.
  </p>
  <p>
    If you have large quantities of goods to donate, or large items such as furniture or appliances, we can make an arrangement to collect from you. Please call us on 011 672 0448 during working hours.
  </p>
  <h1>
    <span>Our book shop</span>
  </h1>
  <div class="row">
    <div class="col-md-8">
      <p>
        Calling on all book lovers! Please come and visit our book shop; we have a wide selection of second hand books with something for everybody, and at really good prices. All books have been donated to us,
        and with our shop run solely by kind hearted volunteers, this is one of our fundraising initiatives to support our Society in the work that we do, with all proceeds going to the SPCA.
      </p>
      <p>
        We’ll happily accept all donations of second hand books.
      </p>
    </div>
    <div class="col-md-4 photo-004">
    </div>
  </div>
  <h1>
    <span>Community outreach</span>
  </h1>
  <div class="row">
    <div class="col-md-12">
      <p>
        We have a strong community outreach initiative which involves carrying out sterilisations, treatments, dipping animals against ticks and fleas and - most importantly – providing education in areas where
        an understanding of basic animal care is often lacking.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="photo-001">
      </div>
    </div>
    <div class="col-md-4">
      <div class="photo-002">
      </div>
    </div>
    <div class="col-md-4">
      <div class="photo-003">
      </div>
    </div>
  </div>
</div>